h1,
p {
  font-family: Lato;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wraper {
  background-color: #ffebcd;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20rem;
}
